
.main-bar{
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  /* margin-bottom: .6rem; */
  color: #f60;
  padding: .2rem 0;
}


.slideBarList {
  padding: 1rem 0.5rem;
}

.slideBarList li {
  border-radius: 5px;
  /* border-bottom: 1px solid #ccc; */
}

.slideBarList li .li {
  padding: 12px 16px;
  display: flex;
  gap: 0.3rem;
  color : rgb(27, 27, 27);
  /* margin: 1px; */
  font-size: 0.95rem;
  font-family: "Roboto", sans-serif;
}

.slideBarList li:hover {
  background-color: rgba(255, 166, 0, 0.277);
}

.slideBarList li span {
  margin-right: 8px;
}
